<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.Management.ResourceManager.Fluent" version="1.9.1" targetFramework="net47" />
  <package id="Microsoft.Azure.Management.ServiceBus.Fluent" version="1.9.1" targetFramework="net47" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.28.3" targetFramework="net47" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.9" targetFramework="net47" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.10" targetFramework="net47" />
  <package id="Microsoft.Rest.ClientRuntime.Azure.Authentication" version="2.3.2" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net47" />
  <package id="PDFsharp-MigraDoc" version="1.50.4845-RC2a" targetFramework="net47" />
  <package id="Topshelf" version="4.0.4" targetFramework="net47" />
  <package id="WindowsAzure.ServiceBus" version="4.1.8" targetFramework="net47" />
  <package id="ZXing.Net" version="0.16.4" targetFramework="net47" />
</packages>